@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

:root {
    --primary-color: #eddbc4;
    --secondary-color: #908e8b;

    --highlight-color: #bd5a63;

    --text-color: #333;
}

/* Basic Style */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin: 53px;
}

body {
    background-color: var(--secondary-color);
    /*padding-top: 53px;*/
}

h1, h2, h3, p, a {
    color: var(--text-color);
}

h1, h2, h3 {
    font-family: 'Playpen Sans';
}

p, a {
    font-family: 'Sawarabi Mincho', serif;
}

h2 {
    font-size: 2em;
}

/* Nav Bar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: var(--primary-color);
    z-index: 1000;
}

.navbar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center
}

.navbar nav ul li {
    margin: 0 20px;
    width: 100px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-weight: bold;
}

/* Home Style */

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-bottom: 2em;
    
    /* BACKGROUND IMAGE
    
    padding-bottom: 10em;
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100vw;

    */
}

.image-controller {
    padding-top: 5em;
    max-width: 60vw;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
}

.name-title {
    font-size: 4em;
    margin: 0;
    font-family: 'Playpen Sans';
}

.role-badge {
    display: inline-block;
    background-color: var(--highlight-color);
    padding: 5px 10px;
    margin: 20px 0;
    font-weight: bold;
    font-family: 'Sawarabi Mincho', serif;
    color: white;
    border-radius: 5px;
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-family: 'Sawarabi Mincho', serif;
    text-align: justify;
    max-width: 80vw;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    padding: 0 0.5em;
}

.social-icon:hover img {
    transform: scale(1.2);
}

/* Skills */

#skills {
    background-color: var(--text-color);
    color: white;
    text-align: center;
    padding-bottom: 1em;
}

#skills h2 {
    font-size: 2em;
    color: white;
    padding: 1em;
}

.skill h3{
    color: white;
    padding-bottom: 0.5em;
}

.skill p {
    color: var(--secondary-color);
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    max-width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    align-items: center;
}

.skill img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

/* Portfolio */

#portfolio {
    padding-bottom: 3em;
    text-align: center;
    background-color: var(--primary-color);
}

#portfolio h2 {
    padding: 1em;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    text-align: left;
    height: max-content;
}

.project p {
    padding: 1em 0 0.5em 0;
    text-align: justify;
    font-weight: bold;
}

.project p, .project ul li {
    color: var(--secondary-color)
}

.project img {
    width: -webkit-fill-available;
    border-radius: 8px;
    min-width: 450px;
}

.project h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: white;
}

.tags {
    margin: 10px 0;
}

.tag {
    display: inline-block;
    background-color: var(--highlight-color);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    margin-right: 5px;
}

.project ul {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0;
    margin-top: 10px;
}

.project ul li {
    margin-bottom: 5px;
}

/* Contact */

#contact {
    background-color: var(--text-color);
    color: white;
    text-align: center;
}

#contact h2 {
    font-size: 2em;
    color: white;
    padding: 1em 0 1em 0;
}

#contact p {
    color: var(--secondary-color);
    padding: 0 3em 1em 3em;
}

#contact .social-icons {
    padding: 1em 0;
}

#contact a {
    color: var(--secondary-color);
    font-weight: bold;
}

.social-icons a *{
    color: white;
}

/* TODO: Media Query: 768px - Table | 425px - Mobile */